<div>
	<input type="text" placeholder="title" [(ngModel)]="title" #titleInput>
	<input type="text" placeholder="text" [(ngModel)]="text">
	<button class="btn" (click)="addPost()">Добавить пост</button>
	<button class="btn" (click)="focusTitle()">Focus Title</button>
	
</div>
