<div class="card">
	<h2>App Counter: {{appCounterService.counter}}</h2>
	<button class="btn" (click)="appCounterService.decrease()">-</button>
	<button class="btn" (click)="appCounterService.increase()">+</button>
</div>
