<h1>Основы и Синтаксис</h1>

<div class="container">
	<h1>{{ titleOne }}</h1>
	<hr>
	<img [src]=img>
	<hr>
	<input type="text" (input)="onInput($event)">
	<p>{{ inputValue }}</p>
	<!--oneWayBinding-->
	<hr>
	<button class="btn" (click)="onClick()">click</button>
	<hr>
	<input type="text" [(ngModel)]="titleTwo">
	<p>{{ titleTwo }}</p>
	<!--twoWayBinding-->
	<hr>
	<button class="btn" (click)="backgroundToggle = !backgroundToggle">toggle</button>
	<div
			[ngStyle]="{
    width: '100px',
    height: '100px',
    marginTop: '10px',
    marginBottom: '10px',
    border: '1px solid #ccc',
    background: backgroundToggle ? 'red' : 'blue'
    }">
	</div>
	<!--ngStyle-->
	<hr>
	<button class="btn" (click)="backgroundToggle2 = !backgroundToggle2">Пример ngClass</button>
	<p [ngClass]="{red: backgroundToggle2, blue: !backgroundToggle2}">Пример ngClass</p>
	<!--ngClass-->
	<hr>
	<button class="btn" (click)="toggle = !toggle">Пример ngIf</button>
	<p class="red" *ngIf="!toggle; else blueF">Lorem12</p>
	<ng-template #blueF>
		<p class="blue">Lorem34</p>
	</ng-template>
	<!--ngIf-->
	<hr>
	<button class="btn" (click)="toggleTwo = !toggleTwo">Пример ngSwitch</button>
	<div [ngSwitch]="toggleTwo">
		<p class="red" *ngSwitchCase="true">red</p>
		<p class="blue" *ngSwitchCase="false">blue</p>
		<p class="blue" *ngSwitchDefault>blue</p>
	</div>
	<!--ngSwitch-->
	<hr>
	<ul>
		<li *ngFor="let i of arr; let idx = index">
			{{ i }}
			{{ idx + 1 }}
		</li>
	</ul>
	<ul>
		<li *ngFor="let post of objs">
			<p>{{post.title}} {{post.author}}</p>
			<ul *ngFor="let comment of post.comments">
				<li>
					{{ comment.name }} {{ comment.text }}
				</li>
			</ul>
		</li>
	</ul>
	<!--ngFor-->
	<hr>
	<p>{{ now | date }}</p>
	<!--Pipes-->

</div>
