<div class="container">
	<button class="btn" [class.active]="state === 'on'" (click)="setState('on')">on</button>
	<button class="btn" [class.active]="state === 'off'"  (click)="setState('off')">off</button>
	<p>{{state}}</p>
</div>

