<h1>Компоненты</h1>
<div class="container">
	<app-post-form
			(onAdd)="updatePosts($event)"
	></app-post-form>
	<hr>
	<app-post
			*ngFor="let p of posts"
			[post]="p"
			(onRemove)="removePost($event)"
	>
		<div #info>
		<small *ngIf="p.text.length > 10; else short">
			long
		</small>
		<ng-template #short>
			short
		</ng-template>
		</div>
	</app-post>
</div>
