<h1>Pipes</h1>
<div class="container">
	<p>{{ e | number:'1.1-5' }}</p>
	<p>{{ e | number:'3.3-5' }}</p>
	<hr>
	<p>{{ str | uppercase }}</p>
	<p>{{ str | titlecase | slice:1 }}</p>
	<p>{{ date | date: 'fullDate' }}</p>
	<hr>
	<p>{{ float }}</p>
	<p>{{ float | currency }}</p>
	<p>{{ float | percent }}</p>
	<hr>
	<pre>{{obj | json}}</pre>
	<hr>
	<p>{{10 | mult}}</p>
	<p>{{10 | mult: 2}}</p>
	<p>{{10 | mult: 3}}</p>
	<p>{{10 | mult: 4}}</p>
	<p>{{'Hello         ' | exMarks }}</p>
	<hr>
	<button class="btn" (click)="searchField = 'title'">title</button>
	<button class="btn" (click)="searchField = 'text'">text</button>
	<button class="btn" (click)="addPost()">add new</button>
	<input [(ngModel)]="search">
	<div class="card" *ngFor="let p of posts | filter: search:searchField">
		<h2>{{ p.title }}</h2>
		<p>{{p.text}}</p>
	</div>
	<hr>
	<p>wait... {{ p | async }}</p>
	<p>Date: {{ date$ | async }}</p>
</div>
