<app-bases *ngIf="false"></app-bases>
<app-components *ngIf="false"></app-components>
<app-directives *ngIf="false"></app-directives>
<app-pipes *ngIf="false"></app-pipes>
<app-services *ngIf="false"></app-services>
<app-forms *ngIf="false"></app-forms>
<app-ng-model [(ngModel)]="appState" *ngIf="false"></app-ng-model>
<app-httpclient></app-httpclient>
