<h1>DIRECTIVES</h1>
<div class="container">
	<p [appStyle]="'blue'">directives works!</p>
	<p [appStyle]="'red'">directives works!</p>
	
	<button class="btn" (click)="isVisible = !isVisible">toggle</button>
	
<!--	<div *ngIf="!isVisible" class="wrap">-->
<!--		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quod.</p>-->
<!--	</div>-->
	
	<div *appIfNot="!isVisible" class="wrap">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, quod.</p>
	</div>
</div>


